* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}

ul {
	list-style: none;
}

.container-header {
	max-width: 1200px;
	margin: 0 auto;
}

.container-promo {
	max-width: 1280px;
	margin: 0 auto;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 36px 32px;
}

.nav ul {
	display: flex;
	align-items: center;
	gap: 32px;
}

.nav a {
	font-size: 15px;
	text-decoration: none;
	display: inline-block;
	color: #1B1A1A;
	transition: 0.3s;
}

.nav a:hover {
	color: #e16a20cd;
}

#button {
	background-color: #1B1A1A;
	border-radius: 14px;
	display: inline-block;
	padding: 11px 20px;
	color: #FFF;
}

#button:hover {
	background-color: #e16a20cd;
}

.promo {
	background-color: #ECE7E4;
}

.promo-wrapper {
	display: flex;
}

.promo-left-wrapper {
	display: flex;
	align-items: center ;
}

.promo-left {
	width: 600px;
	height: 566px;
	padding: 60px 40px 40px;
}

.promo-left h3,
.art-content h3,
.our-process h3 {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 400;
	color: #645C55;
}

.promo-left h1 {
	font-size: 64px;
	font-weight: 400;
	line-height: 70.4px;
	margin: 20px 0 18px 0;
}

.promo-left p, 
.art-content p {
	line-height: 24px;
	margin-bottom: 30px;
	color: #403E3B;
}

.promo-left a {
	text-decoration: none;
	color: #1B1A1A;
	transition: 0.3s;
	padding: 11px 20px;
}

.promo-left a:hover {
	color: #e16a20cd;
}

.promo-right img {
	height: 100%;
	width: 100%;
}

.container-firm {
	max-width: 768px;
	margin: 0 auto;
	padding: 100px 0;
}

.firm-wrapper {
	display: flex;
	justify-content: space-between;
}

.firm-right {
	width: 501px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.firm-wrapper h2 {
	font-weight: 400;
	font-size: 32px;
}

.firm-right p,
.our-process .all-items p {
	color: #403E3B;
	line-height: 24px;
}

.author {
	display: flex;
	align-items: center;
	gap: 30px;
	padding: 8px 0;
}

.author-name label {
 display: block;
 line-height: 20px;
}

.author-name .name {
	font-size: 17px;
}

.author-name .level {
	color: #645C55;
	font-size: 14px;
}

.container-art {
	width: 1320px;
	margin: 0 auto;
}

.reeding-house-content {
	background-image: url(/assets/img/reeding-house.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.art-content {
	width: 300px;
	margin: 0 60px;
}

.art-content p {
	color: #645C55;
}

.container-process {
	width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

.container-process {
	width: 1074px;
	margin: 0 auto;
	text-align: center;
}

.container-process > p {
	margin: 13px 0 47px 0;
	font-size: 39px;
}

.all-items {
	display: flex;
	justify-content: space-between;
}

.our-process .item {
	text-align: center;
	width: 285px;
}

.our-process span {
	display: block;
	margin: 15px 0 10px 0;
}

.the-marble-staircase-content {
	background-image: url(/assets/img/the-marble-staircase.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.happy-customers {
	background-color: #403E3B;
}

.container-standart {
	width: 1168px;
	margin: 0 auto;
	padding: 100px 0;
}

.happy-customers .customers-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.happy-customers .content {
	width: 450px;
}

.happy-customers .all-logo {
	display: flex;
	flex-direction: column;
	gap: 96px;
	padding: 40px;
	margin-right: 144px;
}

.happy-customers .top,
.happy-customers .bottom {
	display: flex;
	gap: 95px;
	align-items: center;
}

.happy-customers h3 {
	color: #ECE7E4;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 400;
}

.happy-customers span {
	font-size: 32px;
	color: #FFF;
}

.happy-customers p {
	color: #ECE7E4;
	font-size: 15px;
}

.the-swirling-staircase-content {
	background-image: url(/assets/img/the-swirling-staircase.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.featured-projects {
	background-color: #F7F7F7;
}

.featured-projects .pictures {
	display: flex;
	justify-content: space-between;
}

.featured-projects .content {
	width: 581px;
}

.featured-projects h3 {
	font-size: 39px;
	color: #1B1A1A;
	font-weight: 400;
}

.featured-projects p {
	margin: 15px 0 42px 0;
	color: #645C55;
	line-height: 20px;
}

.featured-projects .item-build {
	background-image: url(/assets/img/building.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 379px;
	height: 460px;
}

.featured-projects .item-clothes {
	background-image: url(/assets/img/clothes.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 379px;
	height: 460px;
	padding: 40px 39px;
	line-height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.featured-projects .item-clothes span {
	color: #645C55;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 400;
}

.featured-projects .item-clothes h4 {
	font-size: 23px;
	font-weight: 400;
	color: #403E3B;
}

.featured-projects .item-clothes .button a {
	text-decoration: none;
	color: #FFF;
	padding: 11px 20px;
	background-color: #1B1A1A;
	border-radius: 14px;
	width: 133px;
}

.featured-projects .item-sky {
	background-image: url(/assets/img/sky.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 379px;
	height: 460px;
}

.featured-projects .button {
	display: flex;
	justify-content: center;
}

.featured-projects a {
	display: inline-block;
	text-decoration: none;
	color: #1B1A1A;
	margin-top: 40px;
	padding: 11px 20px;
	transition: 0.3s;
}

.featured-projects .item-clothes .button a:hover {
	background-color: #e16a20cd;
}

.featured-projects a:hover {
	color: #e16a20cd;
}

.meet-our-team-wrapper {
	display: flex;
	justify-content: space-between;
}

.meet-our-team .content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 358px;
}

.meet-our-team .content h3 {
	font-size: 32px;
	font-weight: 400;
	color: #403E3B;
}

.meet-our-team .content p {
	font-size: 15px;
	color: #645C55;
	margin: 14px 0 30px 0;
	line-height: 24px;
}

.meet-our-team .content a {
	padding: 11px 20px; 
	color: #1B1A1A;
	text-decoration: none;
	transition: 0.3s;
}

.meet-our-team .content a:hover {
	color: #e16a20cd;
}

.meet-our-team .workers {
	display: flex;
	flex-direction: column;
	gap: 36px;
}

.meet-our-team .workers .item {
	display: flex;
}

.meet-our-team .workers .author {
	margin-right: 114px;
}

.touch {
	background-color: #CEC4BC;
}

.touch-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.touch .content {
	width: 569px;
}

.touch .content h3 {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #645C55;
}

.touch .content p {
	font-size: 40px;
	line-height: 42px;
}

.touch a {
	padding: 11px 20px; 
	color: #1B1A1A;
	text-decoration: none;
	transition: 0.3s;
}

.touch a:hover {
	color: #e16a20cd;
}

footer .footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

footer .content {
	width: 700px;
}

footer .logo {
	margin-bottom: 20px;
}

footer .text p {
	font-size: 14px;
	color: #645C55;
}

footer .socials {
	display: flex;
	gap: 20px;
}

footer a {
	transition: 0.3s;
}

footer a:hover {
	transform: scale(1.4);
}